[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-jtox
Exec=harbour-jtox
Name=jTox


[X-Sailjail]
Permissions=Internet;Audio;Microphone;Pictures
OrganizationName=ltd.bitsmart
ApplicationName=jTox
